@import "../../abstracts/partials/mixins.scss";

.favouritebook {
  margin: 0 2.5rem 1.25rem 1.25rem;
  border-radius: 12px;
  display: column;
  align-items: center;
  justify-content: center;

  margin-bottom: 20px;
  column-gap: 3.25rem;
  width: 100%;
  @include tablet {
    display: flex;
  }

  &__container {
    border-radius: 0.75rem;
    // box-shadow: inset 0 0 5rem rgba(0, 0, 0, 0.5);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    @include tablet {
      display: flex;
    }
  }
  &__image {
    border-radius: 12px;
    height: 12.5rem;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__info {
    text-align: center;
    column-gap: 1.25rem;
  }
  &__description {
    margin-top: 1.25rem;
    display: flex;
    flex-direction: column;
    font-size: 0.8125rem;
    row-gap: 0.625rem;
    line-height: 1.25rem;
    width: 100%;
    color: black;
    @include tablet {
      font-size: 0.9375rem;
    }
  }
  &__button-container {
    display: flex;
    column-gap: 1.875rem;
  }
  &__button--currentlyReading {
    cursor: pointer;
  }
  &__bookshelves {
    height: 12.5rem;
  }
  &__button--delete {
    cursor: pointer;
  }
  &__title {
    font-size: 0.875rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    row-gap: 1.25rem;
  }
}
