/* reset */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Grape+Nuts&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(95, 45, 253, 0.304359243697479) 100%
  );

  background-size: cover;
}

.nav {
  display: flex;
  justify-content: space-around;
  flex-direction: row-reverse;
  padding: 0.625rem;
}
a {
  color: white;
  text-decoration: none;
}

.nav__links {
  display: flex;
  column-gap: 3.125rem;
  list-style: none;
}

.nav__logo {
  width: 12.5rem;
  border-radius: 0.75rem;
}
