@import "../../abstracts/partials/mixins.scss";

.readbook {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__container {
    border-radius: 0.75rem;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    @include tablet {
      display: flex;
      flex-direction: row;
    }
  }
  &__image {
    box-shadow: rgba(0, 0, 0, 0.75) 0rem 0.3125rem 0.9375rem;

    margin-top: 10px;
    border-radius: 0.75rem;
    height: 12.25rem;
    &:hover {
      transform: scale(1.5);
    }
    @include tablet {
    }
  }
  &__info {
    text-align: center;
    column-gap: 1.25rem;
  }
  &__description {
    column-gap: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;

    font-size: 0.8125rem;

    line-height: 1.25rem;
    width: 100%;
    color: black;
    @include tablet {
      display: flex;
      flex-direction: row;
      font-size: 0.9375rem;
    }
  }
  &__button-container {
    display: flex;
    column-gap: 1.875rem;
  }
  &__button--currentlyReading {
    cursor: pointer;
  }
  &__bookshelves {
    border: 2px solid grey;
    height: 12.5rem;
  }
  &__button--delete {
    cursor: pointer;
  }
  &__title {
    color: black;

    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
  }

  &__modal-image {
    height: 25rem;
  }
  &__modal-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  &__image-container {
    display: flex;
    justify-content: center;
  }
  &__button-container {
    display: flex;
    align-items: center;
  }
  &__headings {
    display: flex;
  }
  &__booktitle {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 20%;
  }
  &__author {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    width: 20%;
  }
  &__rating {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: 20%;
  }
  &__cover {
    width: 400px;
  }
}
