@import "../../abstracts/partials/mixins.scss";

.readbook {
  border: 2px solid grey;
  margin-left: 1.875rem;
  display: flex;
  height: 100%;
  column-gap: 1.25rem;
  @include tablet {
    display: flex;
    flex-direction: row;
  }

  &__container {
    border-radius: 0.75rem;
    width: 46%;
    display: flex;

    align-items: center;
    justify-content: center;
    row-gap: 1.25rem;
    @include tablet {
      display: flex;
    }
  }
  &__image {
    margin-top: 20px;
    border-radius: 0.75rem;
    height: 8.25rem;
    &:hover {
      transform: scale(1.5);
    }
  }
  &__info {
    text-align: center;
    column-gap: 1.25rem;
  }
  &__description {
    column-gap: 26%;
    display: flex;
    align-items: center;

    font-size: 0.8125rem;

    line-height: 1.25rem;
    width: 100%;
    color: black;
    @include tablet {
      font-size: 0.9375rem;
    }
  }
  &__button-container {
    display: flex;
    column-gap: 1.875rem;
  }
  &__button--currentlyReading {
    cursor: pointer;
  }
  &__bookshelves {
    border: 2px solid grey;
    height: 12.5rem;
  }
  &__button--delete {
    cursor: pointer;
  }
  &__title {
    color: black;
    // background-color: #4a75a1;

    font-size: 0.875rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.25rem;
  }

  &__modal-image {
    height: 25rem;
  }
  &__modal-buttons {
    display: flex;
    justify-content: space-evenly;
  }
  &__image-container {
    display: flex;
    justify-content: center;
  }
  &__button-container {
    display: flex;
    align-items: center;
  }
  &__headings {
    display: flex;
  }
  &__booktitle {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 25%;
  }
  &__author {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 25%;
  }
  &__rating {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 25%;
  }
  &__cover {
    width: 400px;
  }
}
