.search {
  display: flex;

  justify-content: center;
  height: 2.5rem;
  column-gap: 0.625rem;
  &__input {
    padding: 0rem 2.5rem;
    border-radius: 0.375rem;
    background-color: bisque;
  }
  &__button {
    padding: 0 0.625rem;
    border-radius: 0.375rem;
  }
  &__dropdown {
    width: 6.25rem;
    border-radius: 0.375rem;
  }
}

.nav {
  font-family: "Grape Nuts", cursive;

  font-size: 1.5625rem;

  border: 2px solid grey;
  background-color: #1976d2;
  &__logo-Image {
    mix-blend-mode: multiply;
    height: 2.5rem;
  }
}

#map {
  height: 11.25rem;
}
